.example-card1 {
    width: 60%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
    justify-content: center;
    border-right: 1px dotted rgb(122, 122, 122);
    margin-right: 20px;
  }
 
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.splitView{
    display: inline-flex;
    width: 100%;
}

.example-card2{
  height: 100%;  
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

:host app-main-table[specificityattr] ::ng-deep .example-container {
  height: 89vh; /*just a little bit of ng-deep*/
}

.box_container{
  margin-top: 10px;
  border: solid 1px rgb(242, 246, 252);
  justify-content: center;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fffefe;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#contentContainer{
  margin-left: 15px;
}

#subsubPara{
  margin-left: 30px;
}
#ContainerHeaders{
  font-weight: 600;
}

#ContainerPara{
  font-size: 15px;
  margin-top: -15px;
}

#SectionHeaders2{
  font-weight: 500;
}
#SectionHeaders{
  font-weight: 600;
}
.matcardFlex{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  gap: 50px
}
.cardMat{
  background: #b0fcff;
  border-radius: 10px;
}
.cont{
  width: 95%
}
.mat-tab-body{
  margin-top: 5px!important;
}
#boldName{
  font-weight: 600px;
}
b {
  font-weight: 600;
}
.mat-progress-bar {
  height: 20px;
}

.green-progress .mat-progress-bar-fill::after {
  background-color: green !important;
}

.flexBound{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;  
}

.matcard-padding{
    padding: 20px;
    min-width: 120px;
    border: 2px solid #f1f1f1;
}
.matcard-padding2{   
    border: 2px solid #f1f1f1;
    padding: 20px;
    width: 92%;
    margin-top: 5px;
}

.DiskDisplay{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;

}

.MatcardDisk{
  border: 2px solid #f1f1f1;
  min-width: 200px;
  margin-left: 1%;
}

.pie-grid{
  display: flex;
  gap: 300px;
}

#RedID{
  color:  #7AA3E5 ;

}
#BlueID{
 color:  #A8385D;
}