<ng-container *ngIf="isLoading">
        <mat-progress-bar 
                mode="indeterminate" 
                style="height: 5px!important; margin-top: 20px;">
        </mat-progress-bar>
        <div style="height: 6vh;"></div>
</ng-container>   
<ng-container *ngIf = "!isLoading"></ng-container>
<app-table 
        [displayFilter] = 'isLoadingTableFeatures' 
        [displayPaginator] = 'isLoadingTableFeatures' 
        (listenParentHandler)= 'tableRowClick($event)'
        [dataSource] = 'dashboardTableData'
        [displayedColumns] = 'dashboardTableColumsIndex'
        >
</app-table>