
        <mat-drawer-container>
              <mat-drawer mode="side" opened class="whatever">
                    <div class="sideNav">
                              <!--  <img src="../assets/logo.jpg" alt="" style="width: 150px; height: 50px;">-->
                                <h2 id="id_h1">Stranke:</h2>
                                <h1 id="id_h2" style="margin-bottom: -4px; margin-top: -15px; color: rgb(243,100,29);" routerLink="/dashboard/home"><button mat-button>Home</button></h1>
                                <app-list
                                [listItems] = 'customerList'
                                (onSelectListItem) = 'customerSelected($event)'                                   
                                ></app-list>
                    </div>                  
              </mat-drawer> 
              <mat-drawer-content class="whatever3">
                        
                        <div class="userbar" style="display: flex; justify-content: space-between; align-items: center;border-bottom: 1px dotted rgb(122, 122, 122);">
                              <img src="../assets/logo.jpg" alt="" style="width: 90px; height: 30px; margin-left: 5px;">
                              <div style="display: flex;">
                                    <p style="margin-right: 10px; margin-top: 10px">Hello Admin!</p>
                                    <mat-icon id="icon" style="transform: scale(1.5); margin-right: 30px; cursor: pointer; margin-top: 10px;  " [matMenuTriggerFor]="menu"  aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
                              </div>
                              <mat-menu #menu="matMenu">
                                <button mat-menu-item (click) = openDialog()>Options</button>                                        
                                <button mat-menu-item (click)=  logout()>Log Out</button>
                              </mat-menu>
                        </div>
                                                                                   
                    <router-outlet></router-outlet>
              </mat-drawer-content>
        </mat-drawer-container>

    

