<div class="log-center">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <p>
        <mat-form-field>
          <input matInput type="text" placeholder="Username" formControlName="email" [ngModel]= 'inputVar'>
        </mat-form-field>
      </p>
      <div *ngIf="isSubmitted && formControls.email.errors">
        <mat-error *ngIf="formControls.email.errors.required" style="font-size: 10px; margin-top: -10.5px;" >Username is required</mat-error>
      </div>
      <p>
        <mat-form-field style="margin-top: 2px;">
          <input matInput type="password" placeholder="Password"
            formControlName="password">
        </mat-form-field>
      </p>     
      <div *ngIf="isSubmitted && formControls.password.errors">
        <mat-error *ngIf="formControls.password.errors?.required" style="font-size: 10px; margin-top: -10.5px;">Password is required</mat-error>
        <mat-error *ngIf="formControls.password.errors?.minlength" style="font-size: 10px; margin-top: -10.5px;">Password must be at least 6 characters</mat-error>
      </div>
      <div *ngIf="isSubmitted" style="color: red; ">Wrong
        username or pass
        <button style="transform: scale(0.8)" mat-button (click)='removeError()'>
          <mat-icon aria-hidden="false" aria-label="Example home icon">close</mat-icon>
        </button>
      </div>
      <div class="button">
        <button type="submit" mat-button value="Log in">Login
        </button>
      </div>
    </form>
  </mat-card>
</div>