<div class="log-center">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <p>
          <mat-form-field>
            <input  matInput type="text" 
                    placeholder="Username" 
                    formControlName="email">
          </mat-form-field>
      </p>
      <div *ngIf="isSubmitted && formControls.email.errors">
        <div *ngIf="formControls.email.errors.required">Username is required</div></div>
      <p>
          <mat-form-field>
              <input  matInput 
                      type="password" 
                      placeholder="Password (we won't steal it, pinky promise)"
                      formControlName="password">
          </mat-form-field>
      </p>
      <div *ngIf="isSubmitted && formControls.password.errors">
        <div *ngIf="formControls.password.errors?.required">Password is required</div>
        <div *ngIf="formControls.password.errors?.minlength">Password must be at least 6 characters</div>
      </div>
      <div class="button">
        <button type="submit" mat-button value="Log in">Login
        </button>
      </div>
    </form>
  </mat-card>
</div> 

