<div class="splitView">
    <mat-card class="example-card1">
          <mat-card-content [style.overflow]="'auto'" [style.height]="'86vh'">


            <ng-container *ngIf="isLoading" >
               <mat-spinner></mat-spinner>
            </ng-container>
           <ng-container *ngIf="!isLoading" >
            <h1 style="font-family: 'Roboto', sans-serif; font-weight: 500;">Stranka: {{(_selectedCompany$ | async)?.name}}</h1>     
            <div class="box_container">
              <div id="contentContainer">
                <h3 id="ContainerHeaders">SQL</h3>
                <p id='ContainerPara'>
                  Data directory:  {{(_selectedCompany$ | async)?.companyDetails?.mysql?.datadir}} <br>
                  Errors:  {{(_selectedCompany$ | async)?.companyDetails?.mysql?.errors}} <br>
                  Last start:  {{(_selectedCompany$ | async)?.companyDetails?.mysql?.last_start}} <br>
                  Slow quaries:  {{(_selectedCompany$ | async)?.companyDetails?.mysql?.["slow queries"]}} <br>
                  SSL:  {{(_selectedCompany$ | async)?.companyDetails?.mysql?.ssl}}
                  Version:  {{(_selectedCompany$ | async)?.companyDetails?.mysql?.version}}
                </p>
              </div>
            </div>
            <div class="box_container">
              <div id="contentContainer">
                <h3 id="ContainerHeaders">System</h3>
                <br>
                    <div id='ContainerPara'> 
                        <p id="SectionHeaders">CPU:</p>  <br>
                        <p id="subPara" style="margin-top: -30px;">
                          Count:  {{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.count}} <br>
                          Usage:  {{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.usage}} <br>
                        </p>
                    </div>
                    <div id='ContainerPara'> <br>
                          <div *ngFor="let item of (_selectedCompany$ | async)?.companyDetails?.system?.drives" ><br>
                            {{item.volume.toString()| slice:0:3}} <br>
                            {{item.installed.toString()| slice:0:3}} <br>
                            {{item.free.toString()| slice:0:3}} <br>
                          </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div id='ContainerPara'> 
                          Boot: {{(_selectedCompany$ | async)?.companyDetails?.system?.os?.boot}} <br>
                          Version: {{(_selectedCompany$ | async)?.companyDetails?.system?.os?.version}} <br>
                          <br> 
                          <br>
                    </div>
                    <br>
                    <div id='ContainerPara'> 
                      RAM <br>
                      Free: {{(_selectedCompany$ | async)?.companyDetails?.system?.ram?.free?.toString()| slice:0:3 }} GB <br>
                      Installed: {{(_selectedCompany$ | async)?.companyDetails?.system?.ram?.installed?.toString()| slice:0:3}} GB <br>
                    </div>
                    <br>
                    <!--Temporary-->
                    <!-- <div id='ContainerPara'> 
                      <p id="SectionHeaders" style="margin-top: -10px;">Drives: </p> 

                      <div class="matcardFlex">
                          <mat-card class="cardMat">
                            <p id="SectionHeaders">Disk C: </p> 
                             <p id="subPara"  >
                               Free space:  {{(_selectedCompany$  | async  ) ?.companyDetails?.system?.drives?.["C:"]?.free?.toString()| slice:0:3}} Gb <br>
                               Installed:  {{(_selectedCompany$ | async)?.companyDetails?.system?.drives?.["C:"]?.installed?.toString()| slice:0:3 }} Gb <br>
                             </p>
                          </mat-card>

                          <mat-card class="cardMat">
                            <p id="SectionHeaders" style="margin-top:-15px, ">Disk D: </p> 
                            <p id="subPara" >
                            Free space  {{(_selectedCompany$ | async)?.companyDetails?.system?.drives?.["D:"]?.free?.toString()| slice:0:3}} Gb <br>
                            Installed {{(_selectedCompany$ | async)?.companyDetails?.system?.drives?.["D:"]?.installed?.toString()| slice:0:3}} Gb <br>  
                            </p>
                          </mat-card>
                          <mat-card class="cardMat">
                            <p id="SectionHeaders" style="margin-top:-15px,">Disk F: </p> 
                            <p id="subPara" >
                              Free space {{(_selectedCompany$ | async)?.companyDetails?.system?.drives?.["E:"]?.free?.toString()| slice:0:3}} Gb <br>
                              Installed {{(_selectedCompany$ | async)?.companyDetails?.system?.drives?.["E:"]?.installed?.toString()| slice:0:3}} Gb <br>
                            </p>
                          </mat-card>
                        </div>
                        <br>
                        <br>
                        <p id="SectionHeaders" style="margin-top: -10px;">Operating System </p> 
                          <p>
                            Version {{(_selectedCompany$ | async)?.companyDetails?.system?.os?.boot}}<br>
                            Boot  {{(_selectedCompany$ | async)?.companyDetails?.system?.os?.version}} <br>
                          </p> <br>
                        <p id="SectionHeaders" style="margin-top: -10px;">Ram </p> 
                          <p>
                            Installed: {{(_selectedCompany$ | async)?.companyDetails?.system?.ram?.installed?.toString()| slice:0:3}} Gb <br>
                            Free space: {{(_selectedCompany$ | async)?.companyDetails?.system?.ram?.free?.toString()| slice:0:3}} Gb <br>
                          </p> 
                    </div> -->
              </div>
            </div>
            <div class="box_container">
              <div id="contentContainer">
                <h3 id="ContainerHeaders">TrackNav</h3>
                <div id='ContainerPara'>
                        <h1>Inbound</h1>
                        <p>
                          Inbound | Https intin <br>
                          Avg: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.http_intin?.avg}} <br>
                          Max: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.http_intin?.max}} <br>
                          Min: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.http_intin?.min}} <br>
                        </p>
                        <p>
                          Inbound | intin <br>
                          Avg: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.intin?.avg}} <br>
                          Max: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.intin?.max}} <br>
                          Min: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.intin?.min}} <br>
                        </p>
                        <p>
                          Inbound | sys_tcp_io <br>
                          Avg: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.sys_tcp_io?.avg}} <br>
                          Max: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.sys_tcp_io?.max}} <br>
                          Min: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.sys_tcp_io?.min}} <br>
                        </p>                        
                      </div>
                <div id='ContainerPara'>
                  <h1>TrackNav</h1>
                        <h2>OutBound</h2>
                        <p>
                          Inbound | Https intin <br>
                          Avg: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.http_intout?.avg}} <br>
                          Max: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.http_intout?.max}} <br>
                          Min: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.http_intout?.min}} <br>
                        </p>
                        <p>
                          Inbound | intin <br>
                          Avg: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.intout?.avg}} <br>
                          Max: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.intout?.max}} <br>
                          Min: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.intout?.min}} <br>
                        </p>
                        <p>
                          Sys_tcp_io | sys_tcp_io <br>
                          Avg: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.sys_tcp_io?.avg}} <br>
                          Max: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.sys_tcp_io?.max}} <br>
                          Min: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.sys_tcp_io?.min}} <br>
                        </p>

                  <div id="contentContainer">
                    <h3 id="ContainerHeaders">Programs</h3>
                    <p id='ContainerPara'>
                      Active:  {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.programs?.active}} <br>
                      Running {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.programs?.running}} <br>
                    </p>
                  </div>

                  <div id="contentContainer">
                    <h3 id="ContainerHeaders">Service</h3>
                    <p id='ContainerPara'>
                      Last restart:  {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.service?.last_restart}} <br>
                      Managed programs {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.service?.managed_programs_ok}} <br>
                      Planned restart {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.service?.planned_restart}} <br>
                      Running {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.service?.running}} <br>
                    </p>
                  </div>

                  <div id="contentContainer">
                    <h3 id="ContainerHeaders">Tablets</h3>
                    <p id='ContainerPara'>
                      Count:  {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.tablets?.count}} <br>
                      Online: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.tablets?.online}} <br>
                    </p>
                  </div>
                  <div id="contentContainer">
                    <h3 id="ContainerHeaders">Tachodl</h3>
                    <p id='ContainerPara'>
                      Tachodl | drivers:  {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.tachodl?.drivers?.state}} <br>
                      Tachodl | vehicles: {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.tachodl?.vehicles?.state}} <br>
                    </p>
                  </div>
                  <div id="contentContainer">
                    <h3 id="ContainerHeaders">Vehicles</h3>
                    <p id='ContainerPara'>
                      Active:  {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.active}} <br>
                      Count:  {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.count}} <br>
                      Online:  {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.online}} <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
           </ng-container> 
          </mat-card-content>
      </mat-card>
      <div class="example-card2">
        <h1 style="margin-top: 15px; font-family: 'Roboto', sans-serif; font-weight: 500;">Dogotki za podjetje</h1>
        <app-main-table
              specificityattr
              [displayFilter] = 'switchFalse' 
              [displayPaginator] = 'switchFalse' 
              [displayedColumns] = 'dataCompanyColums'
              [dataSource] = 'dataCompanyTable'
          ></app-main-table>
      </div>
</div>
