<div class="splitView">
    <mat-card class="example-card1">
          <mat-card-content [style.overflow]="'auto'" [style.height]="'93vh'">
            <ng-container *ngIf="isLoading" >
              <mat-progress-bar mode="indeterminate" style="height: 5px!important;" ></mat-progress-bar>
            </ng-container>
           <ng-container *ngIf="!isLoading" >

            <h1 style="font-family: 'Roboto', sans-serif; font-weight: 700;">STRANKA: {{(_selectedCompany$ | async)?.name}}</h1>     
            <ng-container *ngIf="noDataSwitch" >
              <div class="box_container">
                <div id="contentContainer">
                  <h2 id="ContainerHeaders">Note</h2>
                  <p id='ContainerPara'>
                    {{(_selectedCompany$ | async)?.companyDetails?.note}}
                  </p>
                </div>
              </div>
            </ng-container> 
            <br>
            <div class="example-action-buttons">
              <button mat-button (click)="openAll()">Expand All</button>
              <button mat-button (click)="closeAll()">Collapse All</button>
            </div>
            <mat-accordion>
              <mat-expansion-panel [expanded]= "isOpened" (click) = stayOpened()
                                   >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    SQL
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="box_container">
                  <div id="contentContainer">
                    <h2 id="ContainerHeaders">SQL</h2>
                    <p id='ContainerPara'>
                      Data directory: <b>{{(_selectedCompany$ | async)?.companyDetails?.mysql?.datadir}}</b>   <br>
                      Errors: <b>{{(_selectedCompany$ | async)?.companyDetails?.mysql?.errors}}</b>   <br>
                      Last start: <b> {{(_selectedCompany$ | async)?.companyDetails?.mysql?.last_start}}</b>  <br>
                      Slow quaries: <b>{{(_selectedCompany$ | async)?.companyDetails?.mysql?.["slow queries"]}}</b>   <br>
                      SSL: <b>{{(_selectedCompany$ | async)?.companyDetails?.mysql?.ssl}}</b>  <br>
                      Version: <b>{{(_selectedCompany$ | async)?.companyDetails?.mysql?.version}}</b>  
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            


            <mat-accordion>
              <mat-expansion-panel [expanded]= "isOpened2" (click) = stayOpened()
                                   >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    System
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="box_container">
                  <div id="contentContainer">
                    <h2 id="ContainerHeaders">SYSTEM INFORMATION</h2>
    
    
                    <mat-card class="matcard-padding2">
                      <div id='ContainerPara'> 
                        <!-- <h3 id="SectionHeaders">CPU:</h3>  <br>
                               <p id="subPara" style="margin-top: -30px;">
                                 Count: <b>{{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.count}}</b>  <br>
                                 Usage: <b>{{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.usage}}</b>  <br>
                               </p>  -->
                               
                         <h3 id="SectionHeaders">CPU:</h3>
                         <section class="example-section" style="width: 95%;">
                          Count: <b> {{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.count}} </b> <br>
                          Usage: <b> {{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.usage}} </b>  % 
                           <!--<mat-progress-bar
                               class="green-progress"
                               [mode]="mode"
                               value="{{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.count}}"
                               [bufferValue]="bufferValue">
                           </mat-progress-bar> 
                                 <div style="position: relative; padding: 10px; color: white; margin-top: -29px;" > Count: {{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.count}}  </div> -->
                         </section>
                         
                         <section class="example-section" style="width: 95%; margin-top: 5px">
                           <mat-progress-bar
                               class="green-progress"
                               [mode]="mode"
                               value="{{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.usage}}"
                               [bufferValue]="bufferValue">
                           </mat-progress-bar>
                                 <div style="position: relative; padding: 10px; color: white; margin-top: -29px;" > Usage: {{(_selectedCompany$ | async)?.companyDetails?.system?.cpu?.usage}} %  </div>
                         </section>
                     </div>        
                    </mat-card>                   
                       <!-- <div id='ContainerPara'> <br>
                              <div *ngFor="let item of (_selectedCompany$ | async)?.companyDetails?.system?.drives" ><br>
                                {{item.volume.toString()| slice:0:3}} <br>
                                {{item.installed.toString()| slice:0:3}} <br>
                                {{item.free.toString()| slice:0:3}} <br>
                              </div>
                        </div>-->
                        <div id='ContainerPara'> <br>
                          <mat-card class="matcard-padding2">
                            <div class="cont">                          
                              <h3 id="SectionHeaders">DISKS:</h3>  
                              <div class="DiskDisplay">
                                  <ng-container *ngFor="let item of (_selectedCompany$ | async)?.companyDetails?.system?.drives">
                                    <mat-card class="MatcardDisk">
                                      {{item.volume.toString()| slice:0:3}}: 
                                      <br>
                                      Installed:<b> {{item.installed.toString()| number:'1.0-0' }} MB </b>
                                      <br>
                                      Free space: <b> {{item.free.toString()| number:'1.0-0'}} MB </b>
                                      <br>
                                      Total: <b> {{(item.installed + item.free).toString()| number:'1.0-0'}} MB </b>
                                    </mat-card>                               
                                  </ng-container>                                                             
                              </div>
                                <ng-container *ngFor="let item of (_selectedCompany$ | async)?.companyDetails?.system?.drives">
                                 <b>{{item.volume.toString()| slice:0:3}}:</b> 
                                  <img src="../../../assets/Drive.png" style="height: 80px; width: 80px;" alt="">
                                  <section class="example-section" style="width: 95%; margin-top: 5px;">
                                    <mat-progress-bar
                                        class="green-progress"
                                        [mode]="mode"
                                        value="{{ item.free *  100 / (item.installed! + item.free! )}}"
                                        [bufferValue]="bufferValue">
                                    </mat-progress-bar>
                                          <div style="position: relative; padding: 10px; color: white; margin-top: -29px;" >
                                            Available: {{(item.free! *  100 / (item.installed! + item.free!)).toString() | number:'1.0-0'}} %
                                        </div>
                                  </section>                      
                                </ng-container>                              
                                  <!--<section class="example-section" style="width: 95%; margin-top: 5px;">
                                      <mat-progress-bar
                                          class="green-progress"
                                          [mode]="mode"
                                          value="{{ item.free! *  100 / item.installed! }}"
                                          [bufferValue]="bufferValue">
                                      </mat-progress-bar>
                                            <div style="position: relative; padding: 10px; color: white; margin-top: -29px;" >
                                              Avalible: {{item.free! *  100 / item.installed!}} %
                                          </div>
                                    </section> ->
    
                  
                                  OLD spicy Tab switch
                                  <mat-tab-group  mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                                    <mat-tab *ngFor="let item of (_selectedCompany$ | async)?.companyDetails?.system?.drives" label= "{{item.volume.toString()| slice:0:3}} Disk">
                                      <p style="margin-top: 10px; padding: 10px;"> Installed: <b>{{item.installed.toString()| slice:0:3}} GB</b> <br>
                                        Free: <b>{{item.free.toString()| slice:0:3}} GB</b>  <br>
                                      </p>  
                                    </mat-tab>
                                  </mat-tab-group>-->
                            </div>
                          </mat-card>                          
                        </div>
                        <br>                                
                        <mat-card class="matcard-padding2">
                          <div id='ContainerPara'> 
                            <h3 id="SectionHeaders">RAM</h3>
                              Free: <span > <b>{{(_selectedCompany$ | async)?.companyDetails?.system?.ram?.free?.toString()| slice:0:1 }} GB</b> </span>  <br>
                              Installed: <span> <b>{{(_selectedCompany$ | async)?.companyDetails?.system?.ram?.installed?.toString()| slice:0:2}} GB</b> </span>   <br>
                              Total:   <b> {{((_selectedCompany$ | async)?.companyDetails?.system?.ram?.free! + (_selectedCompany$ | async)?.companyDetails?.system?.ram?.installed!).toString() | slice:0:2 }} GB</b> 
                              
      
                            <section class="example-section" style="width: 95%; margin-top: 5px;">
                                    <mat-progress-bar
                                        class="green-progress"
                                        [mode]="mode"
                                        value="{{(_selectedCompany$ | async)?.companyDetails?.system?.ram?.free! *100 /  ((_selectedCompany$ | async)?.companyDetails?.system?.ram?.free! + (_selectedCompany$ | async)?.companyDetails?.system?.ram?.installed!) }}"
                                        [bufferValue]="bufferValue">
                                    </mat-progress-bar>
                                    <div style="position: relative; padding: 10px; color: white; margin-top: -29px;" > 
                                     Free: {{((_selectedCompany$ | async)?.companyDetails?.system?.ram?.free! *100 /  ((_selectedCompany$ | async)?.companyDetails?.system?.ram?.free! + (_selectedCompany$ | async)?.companyDetails?.system?.ram?.installed!)).toString() | slice: 0 : 2 }} %  
                                    </div>
                            </section>
                           <!--<div style="display: flex; justify-content: center;">
                              <div style="height: 350px; width: 500px; margin-top: -60px;">
                                  <ngx-charts-pie-chart
                                  [results]="GraphData"
                                  [legend]="false"
                                  [legendTitle]="'Vehicle Survey'"
                                  [view]="[400,300]"
                                  [labels]="false"
                                  >
                                </ngx-charts-pie-chart>
                              </div>   
                            </div> -->               
                          </div>
                        </mat-card>
                        <div id='ContainerPara' style="margin-top: 20px"> 
                            <h3 id="SectionHeaders">OPERATING SYSTEM</h3>
                            Boot: <b>{{(_selectedCompany$ | async)?.companyDetails?.system?.os?.boot}}</b>  <br>
                            Version: <b>{{(_selectedCompany$ | async)?.companyDetails?.system?.os?.version}}</b>  <br>
                            <br> 
                        </div>
                  </div>
                </div> <!--End-->
 
              </mat-expansion-panel>
            </mat-accordion>




            <mat-accordion>
              <mat-expansion-panel [expanded]= "isOpened3" (click) = stayOpened()
                                   >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    TrackNav
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="box_container">
                  <div id="contentContainer">
                    <h2 id="ContainerHeaders">TrackNav</h2>
                    <div id='ContainerPara'>
                        <h3 id="SectionHeaders">Inbound</h3>  
                          <div  class="flexBound">
                                <div>
                                  <mat-card class="matcard-padding">
                                  <h4 id="SectionHeaders">Https initin:</h4>
                                  <p>
                                    Avg: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.http_intin?.avg}}</b><br>
                                    Max:  <b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.http_intin?.max}}</b><br>
                                    Min:  <b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.http_intin?.min}}</b><br>  
                                  </p>  
                                  </mat-card>
                                </div>
                                <div>
                                  <mat-card class="matcard-padding">
                                    <h4 id="SectionHeaders">Intin:</h4>
                                    Avg:  <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.intin?.avg}}</b> <br>
                                    Max: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.intin?.max}}</b><br>
                                    Min: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.intin?.min}}</b> <br>
                                  </mat-card>
                                </div>
                                <div>
                                  <mat-card class="matcard-padding">
                                  <h4 id="SectionHeaders">sys_tcp_io:</h4> 
                                    Avg: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.sys_tcp_io?.avg}}</b> <br>
                                    Max: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.sys_tcp_io?.max}}</b> <br>
                                    Min: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.inbound?.sys_tcp_io?.min}}</b> <br>
                                  </mat-card>
                                </div>  
                          </div>
                                                  
                          </div>
                          <br>
                          <br>
                    <div id='ContainerPara'>
    
                      <h3 id="SectionHeaders">Outbound</h3>  
                      <div  class="flexBound">
                            <div>
                              <mat-card class="matcard-padding">
                              <h4 id="SectionHeaders">Https initout:</h4>
                              <p>
                                Avg: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.http_intout?.avg}}</b><br>
                                Max:  <b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.http_intout?.max}}</b><br>
                                Min:  <b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.http_intout?.min}}</b><br>  
                              </p>  
                              </mat-card>
                            </div>
                            <div>
                              <mat-card class="matcard-padding">
                                <h4 id="SectionHeaders">Intout:</h4>
                                Avg:  <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.intout?.avg}}</b> <br>
                                Max: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.intout?.max}}</b><br>
                                Min: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.intout?.min}}</b> <br>
                              </mat-card>
                            </div>
                            <div>
                              <mat-card class="matcard-padding">
                              <h4 id="SectionHeaders">sys_tcp_io:</h4> 
                                Avg: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.sys_tcp_io?.avg}}</b> <br>
                                Max: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.sys_tcp_io?.max}}</b> <br>
                                Min: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.communication?.outbound?.sys_tcp_io?.min}}</b> <br>
                              </mat-card>
                            </div>  
                      </div>
                      <br>
                      <mat-card class="matcard-padding2">
                        <div>
                          <h3 id="ContainerHeaders">Programs</h3>
                          <div style="margin-top: -10px;">
                            Active: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.programs?.active}}</b>  <br>
                            Running: <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.programs?.running}}</b>  <br>
                            
                          </div>
                        </div>
                      </mat-card>  
                      <mat-card class="matcard-padding2">
                        <div>
                          <h3 id="ContainerHeaders">Service</h3>
                          <p id='ContainerPara'>
                            Last restart: <b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.service?.last_restart}} </b> <br>
                            Managed programs<b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.service?.managed_programs_ok}} </b> <br>
                            Planned restart<b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.service?.planned_restart}} </b> <br>
                            Running <b>{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.service?.running}} </b> <br>
                          </p>
                        </div>
                    </mat-card>    
                    <mat-card class="matcard-padding2">
                      <div> 
                        <h3 id="ContainerHeaders">Tablets</h3>
                        <div id='ContainerPara'>
                          Count: <b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.tablets?.count}} </b> <br>
                          Online:<b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.tablets?.online}} </b> <br>
                          <section class="example-section" style="width: 95%; margin-top: 5px;">
                            <mat-progress-bar
                                class="green-progress"
                                [mode]="mode"
                                value="{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.tablets?.online! * 100 / (_selectedCompany$ | async)?.companyDetails?.tracknav?.tablets?.count!}}"
                                [bufferValue]="bufferValue">
                            </mat-progress-bar>
                                  <div style="position: relative; padding: 10px; color: white; margin-top: -29px;" >
                                     Online: {{((_selectedCompany$ | async)?.companyDetails?.tracknav?.tablets?.online! * 100 / (_selectedCompany$ | async)?.companyDetails?.tracknav?.tablets?.count!).toString() | slice:0:2}} %
                                </div>
                          </section>
                        </div>
                      </div>
                    </mat-card>
                    <mat-card class="matcard-padding2">
                      <div>
                        <h3 id="ContainerHeaders">Tachodl</h3>
                        <p id='ContainerPara'>
                          Drivers: <b> <span style="color: green;">{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.tachodl?.drivers?.state}}</span> </b> <br>
                          Vehicles:<b>  <span style="color: green;"> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.tachodl?.vehicles?.state}}</span> </b> <br>
                        </p>
                      </div>
                    </mat-card>
                    <mat-card class="matcard-padding2">
                      <div>
                        <h3 id="ContainerHeaders">Vehicles</h3>
                        <div id='ContainerPara'>
                          Count:<b>  {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.count}} </b> <br>
                          Active: <b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.active}} </b> <br>
                          Online: <b> {{(_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.online}} </b> <br>
                          <section class="example-section" style="width: 95%; margin-top: 5px;">
                            <mat-progress-bar
                                class="green-progress"
                                [mode]="mode"
                                value="{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.active! * 100 / (_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.count!}}"
                                [bufferValue]="bufferValue">
                            </mat-progress-bar>
                                  <div style="position: relative; padding: 10px; color: white; margin-top: -29px;" >
                                     Active: {{((_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.active! * 100 / (_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.count!).toString() | slice:0:2}} %
                                </div>
                          </section>
                        
                          <section class="example-section" style="width: 95%; margin-top: 5px;">
                            <mat-progress-bar
                                class="green-progress"
                                [mode]="mode"
                                value="{{(_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.online! * 100 / (_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.count!}}"
                                [bufferValue]="bufferValue">
                            </mat-progress-bar>
                                  <div style="position: relative; padding: 10px; color: white; margin-top: -29px;" >
                                     Online: {{((_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.online! * 100 / (_selectedCompany$ | async)?.companyDetails?.tracknav?.vehicles?.count!).toString() | slice:0:2}} %
                                </div>
                          </section>
                          
                        </div>
                      </div>
                    </mat-card>
                    </div>
                  </div>
                </div> <!--end-->
              </mat-expansion-panel>
            </mat-accordion>




            <mat-accordion>
              <mat-expansion-panel [expanded]= "isOpened4" (click) = stayOpened()
                                   >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Iframe
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="box_container">
                  <div id="contentContainer">
                    <h2 id="ContainerHeaders">Iframe Placeholder</h2>
                    <p id='ContainerPara'>
                      <iframe src="" title="description">Hello World</iframe>
                    </p>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>



          
           </ng-container> 
          </mat-card-content>
      </mat-card>
      <div class="example-card2">
        <h1 style="margin-top: 15px; font-family: 'Roboto', sans-serif; font-weight: 500;">Dogodki za podjetje</h1>
        
         <app-main-table
              [displayFilter] = 'switchFalse' 
              [displayPaginator] = 'switchFalse' 
              [displayedColumns] = 'dataCompanyColums'
              [dataSource] = 'dataCompanyTable'
          ></app-main-table> 
          
      </div>
</div>
