
  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }
  .example-container {
    
    overflow: auto;
  }
  table {
    width: 100%;
  }


    .hover-class:hover {
      background-color: rgb(123, 179, 105)!important;
      color: rgb(123, 179, 105)!important;
    }

  .mat-drawer-container{
    background-color: #ffffff!important;
  }

  .mat-elevation-z8{
    box-shadow: none !important;
  }

  .mat-row:hover {
    background-color: rgb(49, 211, 49)!important;
  }
  
  th.mat-header-cell {
    text-align: center !important;
  }
  mat-header-cell, mat-cell {
    justify-content: center!important;
    text-align: center !important;
  }

  th {
    text-align: center !important;
    vertical-align: middle !important;
  }

  .mat-sort-header-container{
    margin-left: 10px;
  }

  th.mat-header-cell :nth-of-type(2), td.mat-cell :nth-of-type(2), td.mat-footer-cell :nth-of-type(2){
    padding-left: 24px!important;
    margin-left: 24px!important;
  }




.selected {
  background-color: red;
}

.highlight :hover{
  background: #42A948!important; /* green */
}

.selected-row {
  background-color: rgb(49, 211, 49)!important;
}

