
  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }
  .example-container {
    
    overflow: auto;
  }
  table {
    width: 100%;
  }

.hover-class:hover {
      background-color: rgb(123, 179, 105)!important;
      color: rgb(123, 179, 105)!important;
    }

  .mat-drawer-container{
    background-color: #ffffff!important;
  }

  .mat-elevation-z8{
    box-shadow: none !important;
  }

  .mat-row:hover {
    background-color: rgb(49, 211, 49)!important;
  }
  
.selected {
  background-color: red;
}

.highlight :hover{
  background: #42A948!important; /* green */
}

.selected-row {
  background-color: rgb(49, 211, 49)!important;
}

.mat-row.highlighted {
  background: rgb(24, 255, 3)!important;
}