<!--<mat-slider
        thumbLabel
        (input)="onInputChange2($event)"
        [displayWith]="formatLabel"
        tickInterval="5"
        step="2"
        min= "2"
        value = "60"
        max="60"
        aria-label="units">
</mat-slider> -->

<mat-slider [min]="0" 
[max]="6" 
[step]="1" 
[(ngModel)]="value"
(change)="onInputChange($event)"
></mat-slider>
<span >{{finalValue}} seconds</span>

<button mat-button mat-dialog-close (click)='reset()'>Close</button>

<!-- 2,5,10,15,30,45 in 60-->