.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }
  
  .alignSideNav{
    display: flex;
    justify-content: center;
  }

  .sideNav{
    margin-top: 10px;
    align-items: center;
    text-align: center;
  }

  .mat-button{
    min-width: 200px!important;
  }

  #id_h1{
    font-size: 18px;
    font-weight: 500;
  }

  #id_h2{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }


  #warning{
    font-size: 12px;
    color: rgb(255, 0, 0);
    margin-top: -10px;
    animation: blinker 1s linear infinite;
  }

    @keyframes blinker {  
      50% { opacity: 0; }
    }

    .warning-m{
      padding: 0!important;
      margin: 0!important;
    }   