
<ng-container *ngIf="isLoadingEventTableData$ | async">
        <mat-progress-bar 
                mode="indeterminate" 
                style="height: 5px!important; margin-top: 20px;">
        </mat-progress-bar>
        <div style="height: 6vh;"></div>
</ng-container>   
<ng-container *ngIf = "!(isLoadingEventTableData$ | async)"></ng-container>
<app-table 
        [displayFilter] = 'isLoadingTableFeatures' 
        [displayPaginator] = 'isLoadingTableFeatures' 
        (listenToTableClick)= 'tableRowClick($event)'
        [dataSource] = 'dashboardTableData'
        [displayedColumns] = 'dashboardTableColumsIndex'
        >
</app-table>
<!--<mat-slider
        thumbLabel
        (input)="onInputChange($event)"
        [displayWith]="formatLabel"
        tickInterval="5"
        step="5"
        min= "2"
        value = "60"
        max="120"
        aria-label="units">
</mat-slider>-->


