/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }


.orange-spinner circle{
    stroke:orange !important;
  }

  .green-progress .mat-progress-bar-fill::after {
    background-color: #7ad4f8 !important;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #7ad4f8!important;
  }

  .pie-grid{
    display: flex;
    gap: 300px;
  }

  .pie-label {
    font-size: 16px!important;
}


/* */


th {
  text-align: left !important;
  vertical-align: left !important;
}
td {
  text-align: left !important;
  vertical-align: left !important;
  margin-left: 0px;
  margin-left: 100px !important;
}

.mat-sort-header-container {
  justify-content: left !important;
}
.mat-sort-header {
  justify-content: left !important;
}

.mat-sort-header-container{
    margin-left: 0px;
  }
.mat-cell {
  margin-left: 100px !important;
}
td.mat-cell:second-of-type{
  padding-left: 50px!important;
  margin-left: 50px!important;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  margin-left: 10px!important;
  padding-left: 10px!important;
}

/*
  th.mat-header-cell :nth-of-type(2), td.mat-cell :nth-of-type(2), td.mat-footer-cell :nth-of-type(2){
  margin-left: 24px!important;
  padding-left: 24px!important;
}


*/