/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Poppins', sans-serif; }


.orange-spinner circle{
    stroke:orange !important;
  }

  .green-progress .mat-progress-bar-fill::after {
    background-color: #7ad4f8 !important;
  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #7ad4f8!important;
  }

  .pie-grid{
    display: flex;
    gap: 300px;
  }

  .pie-label {
    font-size: 16px!important;
}


/* */

/*
th {
  text-align: center;
  vertical-align: center;
}
td {
  text-align: center;
  vertical-align: center ;
}*/
/*
tr td:nth-child(2) {
  text-align: center!important;
}
tr td:nth-child(5) {
  text-align: center!important;
}

*/
tr th:nth-child(4) {
  padding-right: -300px;
  margin-right: -300px;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  
  padding-left: 25px!important;
}

/*
th.mat-header-cell :nth-of-type(2){
  margin-left: 24px!important;
}*/


.hover-class:hover {
  background-color: rgb(123, 179, 105)!important;
  color: rgb(123, 179, 105)!important;
}

/*
th.mat-header-cell :nth-of-type(2){
  margin-left: 0px!important;
  
}
th.mat-header-cell :nth-of-type(4){
  margin-right: 10px;
}*/

/*
th.mat-header-cell :nth-of-type(2), td.mat-cell :nth-of-type(2), td.mat-footer-cell :nth-of-type(2){
  margin-left: 24px!important;
}*/
/*
  th.mat-header-cell :nth-of-type(2), td.mat-cell :nth-of-type(2), td.mat-footer-cell :nth-of-type(2){
  margin-left: 24px!important;
  padding-left: 24px!important;
}
*/


.mat-row:hover {
  background-color: #f8db7a!important;
}

.blue-snackbar {
  background: #58b600;
}

/*.cdk-global-overlay-wrapper {
  display: grid !important;
  place-items: center !important;
}*/