<div class="alignSideNav">
  <mat-list>
    <div class="sideNav">
      <img src="{{navBarHeaderImg}}" alt="" style="width: 150px; height: 50px;">
      <h1 id="id_h1">{{navBarHeader}}</h1>
      <h1 id="id_h2" style="margin-bottom: -4px;" routerLink="/home"><button mat-button>Home</button></h1>
      <app-list
        [listItems] = '_companiesList'
        (onSelectListItem) = 'CompanySelected($event)'
        style="margin-top: -20px;"
    ></app-list>
    </div>
  </mat-list>  
</div>

<!--Old code-->
<!--<mat-list> 
    <mat-list-item *ngFor="let item of listItems" (click)="onClick(item)">
      <div mat-line>
        <button mat-button class="buttonComp" routerLink='/customer'>
          {{item.name}}          
            </button>
          </div>
        </mat-list-item>
      </mat-list> -->  

<!--Potencial feature-->
<!--<div mat-line class="warning-m" *ngIf=warningSign>
  <p id="warning">Opozorilo!</p>
</div> -->

