<div class="log-center">
    <mat-card>
      <mat-card-title>Register</mat-card-title>
      <form >
        <p>
          <mat-form-field>
            <input matInput type="text" placeholder="Email" >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input matInput type="text" placeholder="Username" >
          </mat-form-field>
        </p> 
        
        
        <p>
          <mat-form-field style="margin-top: 2px;">
            <input matInput type="password" placeholder="Password">
          </mat-form-field>
        </p>            
        <div class="button">
          <button type="submit" mat-button value="Log in">Register</button>
        </div>
      </form>
      <button mat-button style="float: right; margin-top: -35.5px;" routerLink="/login">Cancel</button>
    </mat-card>
  </div>